/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
html {
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    width: 85%;
    margin: auto;
    background-color: #FFF;
    padding-top: 25px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    color: #2270ae;
}

.logo {
    width: 20%;
    margin: 3px;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-top: 3px;
}

.menu_items {
    display: block;
    height: 94px;
    width: 20%;
    text-align: center;
    line-height: 90px;
    font-size: 20px;
    color: #2270ae;
    text-decoration: none;
}

.menu_items:hover {
    color: #ffffff;
    background-color: #2270ae;
}

.contact {
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
    text-align: right;
    padding: 20px 10px;
    font-size: 0.8vw;
}

.contact a {
    color: #2270ae;
    text-decoration: none;
}

footer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    color: #FFFFFF;
    background-color: #2270ae;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color: rebeccapurple;
    text-decoration: underline;
}

.branches {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.branch {

}

.develop {
    display: flex;
    justify-content: center;
    width: 95%;
    border-top: 1px solid white;
    padding: 10px 0;
}

.first_about {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

.first_about img {
    margin: auto;
    padding-top: 30px;
}

.second_about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second_about h3 {
    text-decoration: underline;
    font-weight: 800;
    text-indent: 80px;
}

.third_about {
    margin-top: 30px;
    text-align: center;
}

.third_about img {
    margin: auto;
    padding-top: 30px;
}


